@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap");
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #901c1c;
  font-size: 3.5rem;
  font-weight: 400;
}

.hashtag {
  font-size: .9rem;
  color: #901c1c;
  border: 1px solid lightgray;
  border-radius: .7rem;
  padding: .3rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin-right: .3rem;
}

@media (max-width: 450px) {
  .hashtag {
    font-size: .8rem;
  }
}

.hashtag:hover, .hashtag:focus {
  color: #ffffff;
  background-color: #901c1c;
  border-color: #901c1c;
}

.hashtag--photographer-pageheader {
  font-size: 1.3rem;
  border-radius: .9rem;
  padding: .8rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
}

.button-primary {
  font-size: 1.4rem;
  font-weight: 450;
  border-radius: .5rem;
  padding: 1.3rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  color: #ffffff;
  background-color: #901c1c;
  border: none;
}

.button-primary:hover, .button-primary :focus {
  background-color: #da8876;
  color: #000000;
  cursor: pointer;
}

.button-primary--modal:hover, .button-primary--modal :focus {
  background-color: #FAFAFA;
  color: #525252;
}

/* Dropdown Button */
.dropbtn {
  background-color: #901c1c;
  color: white;
  padding: 16px;
  font-size: 1.5rem;
  border-radius: .3rem;
  min-width: 14rem;
  text-align: left;
  border: 0px white none;
}

.dropbtn:hover {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__pointer {
  font-size: 1.5rem;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
  color: white;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901c1c;
  color: white;
  min-width: 14rem;
  z-index: 1;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #901c1c;
}

.dropdown:hover a {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.dropdown:hover > .dropbtn {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #901c1c;
  color: white;
}

.dropdown:hover .dropdown__pointer {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dropdown:hover .dropdown__lines1 {
  position: absolute;
  padding: -16px;
  max-height: 5px;
  top: -1.2rem;
  left: .5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown:hover .dropdown__lines2 {
  position: absolute;
  padding: -16px;
  max-height: 5px;
  top: 2.4rem;
  left: .5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */
}

.modal__content {
  background-color: #da8876;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* Could be more or less, depending on screen size */
  border-radius: .5rem;
}

.modal__title {
  font-size: 3rem;
  position: top;
  padding-top: 0rem;
  margin-top: 0rem;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 5rem;
  font-weight: 300;
  margin-top: -2rem;
}

.close:hover,
.close :focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal__title {
  color: black;
}

.formData {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.3rem;
  margin-bottom: 0rem;
}

.text-control {
  padding: .6rem;
  font-size: 1.6rem;
  font-weight: 350;
  width: calc(100% - 2rem);
  border-radius: .5rem;
  border: none;
  margin-top: -1rem;
}

#text-message {
  padding: .6rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: calc(100% - 2rem);
  border-radius: .5rem;
  border: none;
  height: 8rem;
}

textarea {
  font-weight: lighter;
}

/* The Modal (background) */
.lightbox {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  border: none;
  /* Modal Content/Box */
}

.lightbox__content {
  background-color: white;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 120vh;
  /* Could be more or less, depending on screen size */
  border-radius: .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10px, 1fr))[10];
      grid-template-columns: repeat(10, minmax(10px, 1fr));
  -ms-grid-rows: (minmax(10px, 1fr))[16];
      grid-template-rows: repeat(16, minmax(10px, 1fr));
      grid-template-areas: ". i i i i i i i i c" ". i i i i i i i i c" ". i i i i i i i i ." ". i i i i i i i i ." ". i i i i i i i i ." ". i i i i i i i i ." ". i i i i i i i i ." "b i i i i i i i i f" "b i i i i i i i i f" ". i i i i i i i i ." ". i i i i i i i i ." ". i i i i i i i i ." ". i i i i i i i i ." ". i i i i i i i i ." ". i i i i i i i i ." ". t t t . . . . . .";
}

.lightbox__content__back {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  place-self: center stretch;
  font-size: 3rem;
  color: #901c1c;
  margin-left: 1.5rem;
}

.lightbox__content__back:hover,
.lightbox__content__back :focus {
  color: #da8876;
  text-decoration: none;
  cursor: pointer;
}

.lightbox__content__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 15;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-area: i;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100vh;
  height: 80vh;
  place-self: center center;
  -webkit-box-shadow: 2px 2px 4px 6px #f2f1f1;
          box-shadow: 2px 2px 4px 6px #f2f1f1;
  border-radius: .3rem;
}

.lightbox__content__close {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: c;
  place-self: start end;
  color: #901c1c;
  float: right;
  font-size: 4rem;
  font-weight: 300;
  margin-top: -1.5rem;
}

.lightbox__content__close:hover,
.lightbox__content__close :focus {
  color: #da8876;
  text-decoration: none;
  cursor: pointer;
}

.lightbox__content__forward {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  -ms-grid-column: 10;
  grid-area: f;
  place-self: center end;
  font-size: 3rem;
  color: #901c1c;
  margin-right: 1.5rem;
}

.lightbox__content__forward:hover,
.lightbox__content__forward :focus {
  color: #da8876;
  text-decoration: none;
  cursor: pointer;
}

.lightbox__content__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: t;
  font-size: 1.5rem;
  color: #901c1c;
  margin-left: -1rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

/* The Close Button 
  .close {
    grid-area: forward;
    color: white;
    float: right;
    font-size: 5rem;
    font-weight: 300;
    margin-top: -2rem;
  
    &:hover,
    :focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  
 */
.sticky-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.5rem;
  font-weight: 550;
  position: fixed;
  bottom: 0px;
  right: 3rem;
  min-width: 15rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #da8876;
  padding: 1.2rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.sticky-info__price {
  position: relative;
  right: -3rem;
}

body {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  width: 95%;
  margin: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "h h h " "m m m" "m m m";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 180px;
      grid-template-rows: 180px;
}

.header-link__image {
  margin-top: 2rem;
  margin-left: -1rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: m;
  -ms-grid-columns: subgrid;
      grid-template-columns: subgrid;
  -ms-grid-rows: (minmax(max-content, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(-webkit-max-content, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(max-content, 1fr));
      grid-template-areas: "p p p " "o . ." "c c c" "c c c";
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.photographer-pageheader {
  background-color: #FAFAFA;
  border-radius: 0.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: p;
      align-self: center;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -ms-grid;
  display: grid;
      grid-template-columns: subgrid;
      grid-template-areas: "t b p";
}

.photographer-pageheader__textcontainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: t;
  margin: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.photographer-pageheader__name {
  color: #bf5037;
  font-size: 6rem;
  font-weight: 400;
  padding: 0.3rem;
  margin: 0.3rem;
}

.photographer-pageheader__location {
  color: #901c1c;
  font-size: 2.4rem;
  margin: 0.6rem;
  margin-top: 1rem;
}

.photographer-pageheader__tagline {
  font-size: 2rem;
  margin: 0.6rem;
  font-weight: 350;
  margin-bottom: 2rem;
}

.photographer-pageheader__hashtagcontainer {
  margin-top: 4rem;
  margin-left: 0.6rem;
}

.photographer-pageheader__buttoncontainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.photographer-pageheader__image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: p;
  -ms-grid-column-align: right;
      justify-self: right;
  margin: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 4rem;
  -webkit-box-shadow: 2px 2px 4px 6px #f2f2f2;
          box-shadow: 2px 2px 4px 6px #f2f2f2;
}

#contact-btn {
  margin-top: 5rem;
}

.order-by {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: o;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.order-by__label {
  font-size: 1.5rem;
  font-weight: 600;
}

.media-gallery {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: c;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: subgrid;
      grid-template-columns: subgrid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vw 6vw;
}

.media-item {
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.media-item__image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 27.2vw;
  height: 22.5vw;
  border-radius: 0.6rem;
  -webkit-box-shadow: 2px 2px 4px 6px #f9f8f8;
          box-shadow: 2px 2px 4px 6px #f9f8f8;
}

.media-item__textcontent {
  display: inline;
}

.media-item__title {
  color: #901c1c;
  font-size: 1.5rem;
  text-align: left;
  display: inline;
  float: left;
  margin-top: 0.5rem;
}

.media-item__likes {
  color: #901c1c;
  font-size: 1.5rem;
  text-align: right;
  display: inline;
  float: right;
  margin-top: 0.5rem;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 27.2vw;
  height: 22.5vw;
  border-radius: 0.6rem;
  -webkit-box-shadow: 2px 2px 4px 6px #f9f8f8;
          box-shadow: 2px 2px 4px 6px #f9f8f8;
}
/*# sourceMappingURL=individualPage.css.map */