$primaryFill: #901c1c;
$primaryText: #ffffff;

$primaryLightFill: #ffffff;
$primaryLightText: #bf5037;

$secondaryFill: #da8876;
$secondaryText: #000000;

$secondaryLightFill: #FAFAFA;
$secondaryLightText: #525252;

$secondaryTextOnWhite: #901C1c;

//Buttons switch from primary(Fill and Text Light) to secondary (Fill and Text) on hover and focus
//Tags switch from primary light to primary not light on hover and focus
