//hashtag (filter) appearance
.hashtag {
    font-size: .9rem;
    color: $primaryFill;
    border: 1px solid lightgray;
    border-radius: .7rem;
    padding: .3rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-right: .3rem;
    @media (max-width: $mobileBreakpoint)  {
        font-size: .8rem;      
    }
    }

.hashtag:hover, .hashtag:focus{
    color: $primaryText;
    background-color: $primaryFill;
    border-color: $primaryFill;
}

.hashtag--photographer-pageheader{
    font-size: 1.3rem;
    border-radius: .9rem;
    padding: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    @media (max-width: $mobileBreakpoint)  {
       font-size: .9rem;   
       text-align: start;
       padding-right: .2rem;
       padding-left: .2rem;
    }
    
}

//button appearance

.button-primary{
    font-size: 1.4rem;
    font-weight: 450;
    border-radius: .5rem;
    padding: 1.3rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    color: $primaryText;
    background-color: $primaryFill;
    border: none;
    &:hover, :focus{
        background-color: $secondaryFill;
        color: $secondaryText;
        cursor: pointer;
    }
    &--modal{
        &:hover, :focus{
            background-color: $secondaryLightFill;
            color: $secondaryLightText;
            
        }
    }
}

