/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  /* Modal Content/Box */
  &__content {
    background-color: $secondaryFill;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: .5rem;

    
  }

  &__title{
      font-size: 3rem;
      position: top;
      padding-top: 0rem;
      margin-top: 0rem;
  }
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 5rem;
  font-weight: 300;
  margin-top: -2rem;

  &:hover,
  :focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

#modal__title{
    color: black;
}

.formData{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.3rem;
    margin-bottom: 0rem;
}

.text-control{
    padding: .6rem;
    font-size: 1.6rem;
    font-weight: 350;
    width: calc(100% - 2rem);
    border-radius: .5rem;
    border: none;
    margin-top: -1rem;
}

#text-message{
    padding: .6rem;
    font-size: 1.5rem;
    font-weight: 300;
    
    width: calc(100% - 2rem);
    border-radius: .5rem;
    border: none;
    height: 8rem;
    
    //margin-top: -1rem;
}

textarea{
    font-weight: lighter;
}


